body {
  font-family: 'Ubuntu Mono', monospace;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h1 {
  font-size: 400%;
  width: 15%;
}

.title img {
  size: 100%;
}