<<<<<<< HEAD
body {
  font-family: 'Ubuntu Mono', monospace;
}

.hidden {
  display: none;
}

.header {
  text-align: center;
=======
.hidden {
  display: none;
>>>>>>> 1214d919b7f60ba3adf84e3639afa30bc33e17b6
}