<html>
  <head>
    <title>ur late</title>
    <meta charset="UTF-8">
    <meta name="description" content="your friends won't get late again">
    <meta name="keywords" content="ur late, you are late, you're late, late">
    <meta name="author" content="ssebastianoo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
  </head>
  <body>
      {% include 'header.html' %}
      <div>
        <form method="post" action="/api/v1/groups/create/">
          <input class="input" id="group_name" type="text" name="name" placeholder="group name" autocomplete="off">
          <input class="submit" type="submit" value="create group">
        </form>
      </div>
      <div id="groups">
      {% if not groups %}
        <p>:( you don't have any group</p>
      {% else %}
        {% for group in groups %}
          <div>
            <h3>{{ groups[group]["name"] }}</h3>

            <form method="post" action="/api/v1/groups/delete/">
              <input class="hidden" name="group_id" type="number" value="{{group}}">
              <input type="submit" value="delete">
            </form>
            {% for member in groups[group]["members"] %}
              <p>{{ member }}</p>
              <form method="post" action="/api/v1/members/delete/">
                <input class="hidden" name="group_id" type="number" value="{{group}}">
                <input class="hidden" value="{{member}}" name="member" type="text">
                <input class="submit" type="submit", '{{member}}' value="delete">
              </form>
              <ul>
                {% for date in groups[group]["members"][member] %}
                  <li>
                    <p>Date: {{ groups[group]["members"][member][date]["date"] }} Late: {{ groups[group]["members"][member][date]["late"] }}</p>

                    <form method="post" action="/api/v1/lates/delete/">
                      <input class="hidden" name="group_id" type="number" value="{{group}}">
                      <input class="hidden" name="member" type="text" value="{{member}}">
                      <input class="hidden" name="late" type="text" value="{{date}}">
                      <input class="submit" type="submit" value="delete">
                   </form>
                  </li>
                {% endfor %} 
              </ul>
              <div>
                <form action="/api/v1/lates/create/" method="post">
                  <input class="hidden" name="group_id" type="number" value="{{group}}">
                  <input class="hidden" name="member" type="text" value="{{member}}">
                  <input class="input" type="date" placeholder="date" name="date" autocomplete="off">
                  <input class="input" placeholder="late" name="late" autocomplete="off">
                  <input class="submit" type="submit" value="add late">
                </form>
              </div>
            {% endfor %}
            <div>
              <form method="post" action="/api/v1/members/create/">
                <input class="hidden" name="group_id" type="number" value="{{group}}">
                <input class="input" type="text" placeholder="member" autocomplete="off" name="member">
                <input class="submit" type="submit" value="add member">
              </form>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script>
  </body>
</html>