<html>
  <head>
    <title>ur late</title>
    <meta charset="UTF-8">
    <meta name="description" content="your friends won't get late again">
    <meta name="keywords" content="ur late, you are late, you're late, late">
    <meta name="author" content="ssebastianoo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
      <div>
        <input id="group_name" type="text" name="name" placeholder="group name" autocomplete="off">
        <button type="submit" onclick="createGroup()">create group</button>
      </div>
      <div id="groups">
      {% if not groups %}
        <p>:( you don't have any group</p>
      {% else %}
        {% for group in groups %}
          <div>
            <h3>{{ groups[group]["name"] }}</h3>
            <button type="submit" onclick="deleteGroup('{{group}}')">delete</button>
            {% for member in groups[group]["members"] %}
              <p>{{ member }}</p>
              <button type="submit" onclick="deleteMember('{{group}}', '{{member}}')">delete</button>
              <ul>
                {% for date in groups[group]["members"][member] %}
                  <li>
                    <p>Date: {{ groups[group]["members"][member][date]["date"] }} Late: {{ groups[group]["members"][member][date]["late"] }}</p>
                    <button type="submit" onclick="deleteLate('{{group}}', '{{member}}', '{{date}}')">delete</button>
                  </li>
                {% endfor %} 
              </ul>
              <div>
                <input id="{{group}}_{{member}}_date" type="text" placeholder="date" name="date" autocomplete="off">
                <input id="{{group}}_{{member}}_late" placeholder="late" name="late" autocomplete="off">
                <button type="submit" onclick="addLate('{{ group }}', '{{ member }}')">add late</button>
              </div>
            {% endfor %}
            <div>
              <input type="text" id="{{group}}_member" name="member" placeholder="member" autocomplete="off">
              <button type="submit" onclick="addMember('{{group}}')">add member</button>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script>
  </body>
</html>