<html>
  <head>
    <title>ur late</title>
    <meta charset="UTF-8">
    <meta name="description" content="your friends won't get late again">
    <meta name="keywords" content="ur late, you are late, you're late, late">
    <meta name="author" content="ssebastianoo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="css" rel="stylesheet" href="{{url_for('static', filename='css/layout.css')}}" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>ur late</h1>
        <h2>group name</h2>
        <select class="button" id="group" name="group">
          <option value="group_name">change group</option>
          <option value="group_name">group1</option>
          <option value="group_name">group2</option>
       </select>
      </div>
      <div class="group">
        <div class="users">
          <div class="user">
            <h3>user1</h3>
            <div class="lates">
              <div class="late-section">
                <div class="late">
                  <p>25 nov 2021<br>10 minutes</p>
                </div>
                <div class="late">
                  <p>25 nov 2021<br>20 minutes</p>
                </div>
              </div>
              <div class="late-section">
                <div class="late">
                  <p>25 nov 2021<br>30 minutes</p>
                </div>
                <div class="late">
                  <p>25 nov 2021<br>40 minutes</p>
                </div>
              </div>
            </div>
            <div class="late-button">
              <button class="button" type="submit">add late</button>
            </div>
          </div>
          <div class="user">
            <h3>user2</h3>
            <div class="lates">
              <div class="late-section">
              <div class="late">
                <p>25 nov 2021<br>10 minutes</p>
              </div>
              <div class="late">
                <p>25 nov 2021<br>20 minutes</p>
              </div>
              </div>
              <div class="late-section">
                <div class="late">
                  <p>25 nov 2021<br>30 minutes</p>
                </div>
                <div class="late">
                  <p>25 nov 2021<br>40 minutes</p>
                </div>
              </div>
            </div>
            <div class="late-button">
              <button class="button" type="submit">add late</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{url_for('static', filename='script.js')}}" type="text/javascript"></script>
  </body>
</html>