<html>
  <head>
    <title>ur late</title>
    <meta charset="UTF-8">
    <meta name="description" content="your firends won't get late again">
    <meta name="keywords" content="late, you're late, you are late, ur late, u r late, u're late, u'r late">
    <meta name="author" content="ssebastianoo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="ur late">
    <meta property="og:description" content="your firends won't get late again">
    <meta name="theme-color" content="#516f9c">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
  </head>  
  <body>
    <div class="container">
      <div class="title">
        <h1>your friends won't get late again</h1>
        <img src="https://media.tenor.com/images/8a1a7d4bcfb420ed02f9752e95673cc4/tenor.gif" alt="lmao stolen from asfd">
      </div>
    </div>
    <a class="login" href="{{ url_for('login') }}">login</a>
  </body>
</html>